html  overflow-y  scroll  

body 
	background  #363636 url(../images/bg.jpg) repeat 0 0 scroll 


#title
	background transparent url(../images/title.png) 0 0 scroll 
	position absolute 
	top 60px 
	left 24px 
	height 62px 
	width 334px 


#download
	position absolute 
	top 132px 
	left 30px 
	text-decoration none 
	font-size 12px 
	color #999 
	font-family arial, sans-serif 

.ttw-music-player .player-controls
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15), 0 1px 0 rgba(255, 255, 255, .04);
	background-color:#333


#download hover
	color #fff

.ttw-music-player .tracklist
	background-color:#333

.instructions 
	font-size:14px
	font-weight:bold

	div
		margin: 10px 0 10px 0

.duration 
	float:right

#spinContainer
	float:right
	margin-top:-22px

.ttw-music-player .track-info
	width:370px

.ttw-music-player .tracklist .title
	width:260px

