html  overflow-y  scroll  

body 
	background  #444 url(../images/bg.jpg) repeat 0 0 scroll 


#title
	background transparent url(../images/title.png) 0 0 scroll 
	position absolute 
	top 60px 
	left 24px 
	height 62px 
	width 334px 


#download
	position absolute 
	top 132px 
	left 30px 
	text-decoration none 
	font-size 12px 
	color #999 
	font-family arial, sans-serif 


#download hover
	color #fff

.instructions 
	font-size:14px
	font-weight:bold

	div
		margin: 10px 0 10px 0

.duration 
	float:right

#spinContainer
	float:right
	margin-top:-22px